.blue-text {
    color: cornflowerblue;
}

.first {
    color:blue; font-size: 20px;
}
.custom-font {
    font-family: "Times New Roman",serif;
    font-style: italic;
}
.yellow-text {
    color:#ff9900;
}
.projects {
    color:whitesmoke;}
header {
    background: cornflowerblue;
}
h1 {
    font-size: 50px;
    text-align: right;
}